<div
  id='font-picker-{{@fontPickerID}}'
  ...attributes
  class='font-picker__container'
  {{font-select
    @value
    @fontCategory
    fontPickerID=@fontPickerID
    onChange=@onChange
    sort=@sort
    fontScript=@fontScript
  }}
></div>